<a class="button fancy-button" href="">Home</a>
<a class="button fancy-button" href="./products">Products</a>
<a class="button fancy-button" href="./make-your-own">Make your own</a>

<h2>Make your own blend</h2>

<div *ngFor="let ingredient of ingredients_from_firestore | async">
  <h3>
    <a [title]="ingredient.Name">
      {{ ingredient.Name }}
    </a>
  </h3>
  <p>
    Price: {{ ingredient.Price}} ron
  </p>
  <p *ngIf="ingredient.Description">
    Description: {{ ingredient.Description }}
  </p>
  <p>Quantity: {{ingredient.Quantity}}</p>
</div>
