<a class="button fancy-button" href="./home-user">Home</a>
<a class="button fancy-button" href="./products-user">Products</a>
<a class="button fancy-button" href="./make-your-own-user">Make your own</a>

<h2>Make your own blend</h2>

<div *ngFor="let ingredient of ingredients">
  <h3>
    <a [title]="ingredient.name + ' details'">
      {{ ingredient.name }}
    </a>
  </h3>
  <p>
    Price: {{ ingredient.price}}
  </p>
  <p *ngIf="ingredient.description">
    Description: {{ ingredient.description }}
  </p>
  <button (click)="add()">
    Add to cart
  </button>
</div>
