<app-links-bar></app-links-bar>
<div class="content">
<h2>Make your own blend</h2>

<div  class="product" *ngFor="let ingredient of ingredients_from_firestore | async">
  <h3>
    <a [title]="ingredient.Name">
      {{ ingredient.Name }}
    </a>
  </h3>
  <div *ngIf="ingredient.url"><img src="{{ ingredient.url }}"/></div>
  <p>
   <span> Price:</span> {{ ingredient.Price}} ron
  </p>
  <button *ngIf="getStatus()" (click)="add()">
    Add to cart
  </button>

  <p *ngIf="ingredient.Description">
    <span> Description: </span> {{ ingredient.Description }}
  </p>
  <p style="margin-bottom: 30px;"><span>Quantity:</span> {{ingredient.Quantity}}</p>
  <hr>
</div>
</div>
