<a class="button fancy-button" href="">Home</a>
<a class="button fancy-button" href="./products">Products</a>
<a class="button fancy-button" href="./make-your-own">Make your own</a>

<h2>About us</h2>

<p>
  We love tea!
</p>
<p>
  Since you are on this page, we assume you do as well.
</p>
<p>
  Through this online shop we want to spread our passion for aromatic tea and
  make it as accessible as possible to everyone, by bringing it straight to your
  door.
</p>
<p>
  You can choose one of our ready made blends or go to Make your own to create
  your very own custom blend.
</p>

<h2>Schedule</h2>

<p>
  From Monday to Sunday
</p>
<p>10:00 AM - 10:00 PM</p>

<h2>Contact</h2>

<p>
  Email address:
</p>
<p>contact@teashop.com</p>
